.container {
    max-width: 1248px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;

    .forms {

        h1 {
            text-align: center;
            margin-bottom: 24px;
            font-weight: bold;
            color: blue;
        }

        .input {

            label {
                display: block;
                padding-bottom: 4px;
                font-size: 16px;
            }

            input {
                width: 100%;
                ;
                margin-bottom: 16px;
                outline: none;
                padding: 4px 8px;
                border-radius: 8px;
            }

            button {
                width: 100%;
                padding: 4px 8px;
                cursor: pointer;
                background-color: blue;
                color: white;
                font-size: 16px;
                border-radius: 8px;
            }
        }
    }
}