.container {

    .container_links {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;

        @media screen and (max-width:768px) {
            display: flex;
            flex-direction: column;
            gap: 16px;
        }
    }

    .web {
        font-size: 32px;
        font-weight: 700;
        color: #E0FFFF;

        @media screen and (max-width:768px) {
            font-size: 24px;
        }
    }

    .developer {
        font-size: 28px;
        font-weight: bolder;
        color: #B0E0E6;

        @media screen and (max-width:768px) {
            font-size: 24px;
        }
    }

    .link{
        a{
            text-decoration: none;
            margin-right: 16px;
            font-weight: bold;

            &:hover{
                color: white;
            }
        }

        button{
            background-color: red;
            padding: 8px 16px;
            border-radius: 12px;
            font-size: 18px;
            font-weight: bold;
            text-align: center;
        }
    }
}