.container {

    max-width: 1064px;
    width: 100%;
    margin: 0 auto;

    >p {
        font-size: 32px;
        font-weight: bold;
        margin-top: 40px;
        margin-bottom: 24px;

        @media screen and (min-width:320px) and (max-width:840px) {
            padding-left: 16px;
        }
    }


    .container_list {
        display: grid;
        row-gap: 40px;
        column-gap: 60px;
        grid-template-columns: repeat(3, 300px);

        @media screen and (max-width:767px) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        @media screen and (min-width:767px) and (max-width:1048px) {
            display: grid;
            row-gap: 40px;
            column-gap: 60px;
            max-width: 90vw;
            margin: 0 auto;
            grid-template-columns: repeat(2, 1fr);
        }


        .list {

           height: 40%;

            a {
                img {
                     height: 80%;
                     object-fit: cover;
                    border-radius: 24px;
                    width: 100%;


                    @media screen and (max-width:767px) {
                        width: 100%;
                        text-align: center;
                    }

                    &:hover {
                        transform: scale(1.05);
                        transition: all ease 1s;
                    }
                }
            }

            span {
                display: block;
                width: 100%;
                margin-bottom: 24px;
                height: 100%;
                text-align: start;
                line-height: 32px;

                @media screen and (max-width:767px) {
                    width: 90%;
                    
                }
            }


            button {
                background-color: black;
                color: white;
                width: 100%;
                margin-bottom: 24px;
                padding: 4px 0;
                border-radius: 8px;

                @media screen and (min-width:320px) and (max-width:840px) {
                    margin-top: 16px;
                }

                &:hover {
                    background-color: #030586;
                }
            }

            @media screen and (max-width:767px) {
                max-width: 90vw;

            }



        }

        .title {
            margin-top: 16px;
            font-size: 24px;
        }

    }

}