.title {
    display: flex;
    gap: 8px;
    align-items: center;
    max-width: 966px;
    width: 100%;
    margin: 0 auto;
    margin-top: 48px;

    @media screen and (max-width:1148px) and (min-width: 319px) {
       max-width: 90vw;
       width: 100%;


    }

    p {
        font-size: 40px;
        font-weight: bold;

        @media screen and (max-width:820px) and (min-width:319px) {
            font-size: 32px;
        }

    }
}

.description {
    max-width: 920px;
    width: 100%;
    margin: 0 auto;
    line-height: 32px;
    font-size: 16px;
    
    @media screen and (max-width:1148px) and (min-width:319px) {
       max-width: 80vw;
       width: 100%;
       margin-bottom: 40px;
    }

}